{% extends "base.html" %}

{% block content %}

  <h1>
    Cars
    <a href="{% url 'taxi:car-create' %}" class="float-right btn btn-outline-primary">
      <i class="bi bi-plus-square"></i> Create
    </a>
  </h1>

  {% include "includes/search_form.html" %}

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">model</th>
        <th scope="col">manufacturer</th>
      </tr>
    </thead>
    <tbody>
      {% if car_list %}
        {% for car in car_list %}
          <tr>
            <td>{{ car.id }}</td>
            <td><a href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.model }}</a></td>
            <td>
              {{ car.manufacturer.name }}
              <span class="float-right">
                <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-outline-secondary btn-sm">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash"></i>
                </a>
              </span>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3" class="text-muted">No cars found</td>
        </tr>
      {% endif %}
    </tbody>

  </table>

{% endblock %}
