{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get">
    <div class="input-group mb-3 w-25">
      <input type="text" class="form-control" placeholder="Type to search..." name="search" value="{{ search }}">
      <div class="input-group-append">
        <input type="submit" class="btn btn-outline-secondary" value="Search">
      </div>
    </div>
  </form>

  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
