{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% if object %}
    {% if object.id %}
      <a href="{% url 'taxi:car-detail' pk=object.id %}" class="btn btn-primary" role="button">Redirect to car detail</a>
    {% else %}
      <a href="{% url 'taxi:car-list' %}" class="btn btn-primary" role="button">Redirect to car list</a>
    {% endif %}
  {% else %}
    <h1>{{ object|yesno:"Update,Create" }} car</h1>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit" class="btn btn-success">
  {% endif %}
{% endblock %}
