{% extends "base.html" %}

{% block content %}
  <h1>
    Drivers
    <a href="{% url 'taxi:driver-create' %}" class="float-right btn btn-outline-primary">
      <i class="bi bi-plus-square"></i> Create
    </a>
  </h1>

  {% include "includes/search_form.html" %}

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">name</th>
        <th scope="col">cars</th>
      </tr>
    </thead>
    <tbody>
      {% if driver_list %}
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td><a href="{% url 'taxi:driver-detail' pk=driver.id %}">{{ driver.username }}</a></td>
            <td>{{ driver.first_name }} {{ driver.last_name }}</td>
            <td>
              {% for car in driver.cars.all %}
                <a href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.model }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3" class="text-muted">No drivers found</td>
        </tr>
      {% endif %}
    </tbody>

  </table>

{% endblock %}
