{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Taxi Service Home<img src="{% static 'IMG_1545.PNG' %}" alt="taxi picture"></h1>
    <br>
    <p>Welcome to Best Taxi Ever!</p>
    <p>Our field of activity is movement. And this is our life force. It stimulates. She inspires us every morning. It forces you to constantly improve yourself. So that you can get to any place you need. Get any thing you need. Earn in any convenient way for you. In any corner of the world. In real time. In the incredible rhythm of today.</p>
    <br>
    <h5>The Taxi service has the following record counts:</h5>
    <ul>
        <li><strong>Cars:</strong> {{ num_cars }}</li>
        <li><strong>Drivers:</strong> {{ num_drivers }}</li>
        <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
    </ul>
    <hr>
    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
