{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center subtitle">
    <h2 class="m-0">Taxi Service Home</h2>
    <span>Num visits: {{ num_visits }}</span>
  </div>
  <p>Welcome to Best Taxi Ever!</p>
  <h3>Dynamic content</h3>
  <p>The Taxi service has the following record counts:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0"><strong>Cars:</strong> {{ num_cars }}</li>
    <li class="list-group-item border-0"><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li class="list-group-item border-0"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
  </ul>
{% endblock %}
