{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="list-group-item bg-primary rounded d-flex align-items-center">
  <span class="flex-grow-1 text-light">Manufacturer List</span>
  <a href="{% url 'taxi:manufacturer-create' %}" class="btn btn-dark-blue link-to-page ml-auto" style="width: 20%;">Create</a>
  </h1>
    {% include "includes/search_line.html" %}

  {% if manufacturer_list %}
    <table class="table table-striped table-bordered">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>

      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>
              {{ manufacturer.id }}
          </td>
          <td>
              {{ manufacturer.name }}
          </td>
          <td>
              {{ manufacturer.country }}
          </td>
          <td>
              <a style="color: green"
                 href="{% url 'taxi:manufacturer-update' pk=manufacturer.id %}">
                 Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'taxi:manufacturer-delete' pk=manufacturer.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
