{% extends "base.html" %}
{% block content %}
  <h1>Are you sure you want to delete {{ manufacturer.name }}?</h1>
  {% with manufacturer.cars.all as manufacturers %}
    {% if manufacturers %}
      <p class="warning">This is going to delete these cars as well:</p>
      <ul>
        {% for car in manufacturers %}
          <li>
            <a href="{% url 'taxi:car-detail' car.pk %}">{{ car.model }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="warning">This action cannot be undone!</p>
    {% endif %}
  {% endwith %}
  <form action="" method="post">
    {% csrf_token %}
    <input class="button button-warning" type="submit" value="Delete">
    <input class="button"
           type="button"
           value="Cancel"
           onclick="history.go(-1)" />
  </form>
{% endblock content %}

