{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form class="form-inline" action="" method="get">
    {{ search_form|crispy }}
    <input class="button" type="submit" value="Search">
  </form>
  <div class="content-header">
    <h1>Manufacturer list</h1>
    <div class="content-controls">
      <a href="{% url 'taxi:manufacturer-create' %}">
        <i class="fa-solid fa-square-plus fa-xl"></i>
      </a>
    </div>
  </div>
  {% if manufacturer_list %}
    <ul>
      {% for manufacturer in manufacturer_list %}
        <li>
          {{ manufacturer.name }}
          <a href="{% url 'taxi:manufacturer-update' manufacturer.pk %}">
            <i class="fa-solid fa-pen fa-xs"></i>
          </a>
          <a href="{% url 'taxi:manufacturer-delete' manufacturer.pk %}">
            <i class="fa-solid fa-trash fa-xs"></i>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no manufacturers</p>
  {% endif %}
{% endblock content %}

