{% extends "base.html" %}

{% block content %}
  <h1>Delete Manufacturer</h1>
  <p>Are you sure you want to delete the manufacturer: {{ manufacturer }}?</p>
  <p class="del"><i>All Cars manufactured by {{ manufacturer }} will be also deleted!</i></p>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-outline-warning btn-lg submit delete">
    <a class="btn btn-outline-warning btn-lg back" href="{{request.META.HTTP_REFERER}}">Back</a>
  </form>
{% endblock %}
