body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.update{
    color:green;
}

.delete{
    color:red;
}

.logo{
    width: 90px;
    padding-bottom: 15px;
}
