{% load static %}


<nav class="navbar navbar-expand-lg ">

  <img class="image-main" src="{% static 'images/asd.png' %}" alt="taxi icon">

      <ul class="navbar-nav mr-auto">
        <li class="list-group-item "><a href="{% url 'taxi:index' %}">Home</a></li>
        <li class="list-group-item"><a href="{% url 'taxi:driver-list' %}">All drivers</a></li>
        <li class="list-group-item"><a href="{% url 'taxi:car-list' %}">All cars</a></li>
        <li class="list-group-item"><a href="{% url 'taxi:manufacturer-list' %}">All manufacturers</a></li>
      </ul>

      <form class="form-inline">
        {% if user.is_authenticated %}
          <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
          <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </form>

  </nav>
