{% load query_transform %}
{% load query_transform %}

{% if is_paginated %}
  <ul class="pagination justify-content-end mt-3">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}{% endif %}">
        <span>&laquo;</span>
      </a>
    </li>
    <li class="page-item bg-primary"><span class="page-link">{{ page_obj.number }} / {{ paginator.num_pages }}</span></li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}{% endif %}">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
{% endif %}
