<div class="list-group">
  {% if user.is_authenticated %}
    <button type="button" class="list-group-item list-group-item-action">
      User: <a class="link" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a>
    </button>
    <button type="button" class="list-group-item list-group-item-action">
      <a class="link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    </button>
  {% else %}
    <button type="button" class="list-group-item list-group-item-action">
      <a class="link" href="{% url 'login'%}?next={{request.path}}">Login</a>
    </button>
  {% endif %}

  <br>

  <button type="button" class="list-group-item list-group-item-action">
    <a class="link" href="{% url 'taxi:index' %}">Home</a>
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    <a class="link" href="{% url 'taxi:driver-list' %}">All drivers</a>
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    <a class="link" href="{% url 'taxi:car-list' %}">All cars</a>
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    <a class="link" href="{% url 'taxi:manufacturer-list' %}">All manufacturers</a>
  </button>

</div>
